.admin-container {
    width: 99%;
    height: 1200px;
    margin: 100px;
    border: 1px solid #e8e4e0;
  }
  .mat-drawer-container {
    background-color: #584949;  
}
//#584949;  #5e5252;           
.mat-drawer {
    background-color: #584949;
    width: 20%;
    height: 100%;
}
.mat-drawer-content {
  background-color: #584949; 
   width: 80%;
  height: 100%;
}
.admin-left{
  width:100%;
}
  

