.admin-container {
    width: 99%;
    height: 1200px;
    margin: 100px;
    border: 1px solid #e8e4e0;
  }
  .mat-drawer-container {
    background-color: #584949; 
}

.mat-drawer {
    background-color: #5e5252; 
    width: 22%;
    height: 400px;
}
.mat-drawer-content {
  background-color: #584949;
   width: 50%;
  height: 400px;
}
.admin-left{
  width:200px;
}
  

