.admin-container {
    width: 99%;
    height: 850px;
    margin: 10px;
    border: 1px solid #dbd4d4;
  }
  .mat-drawer-container {
    background-color: #6d6b6b; /* İstediğiniz arkaplan rengini burada belirtin */
}

.mat-drawer {
    background-color: #6d6b6b; /* mat-drawer'ın arkaplan rengi */
}
.admin-left{
  width:200px;
}
  

