mat-list {
    mat-list-item {
      a {
        color: #af894c; // Yeşil renk örneği, ihtiyacınıza uygun renk değerini kullanabilirsiniz
        text-decoration: none;
  
        &:hover {
          color: #45a049; // Hover durumunda farklı bir yeşil renk
        }
      }
    }
  }
  